[user]
email = ben@sudo.is
name = Ben Kristinsson

[diff]
	submodule = log

[pull]
rebase = false

[push]
default = current

[init]
defaultBranch = main

[alias]

ci = commit
st = status

graph = log --graph --all --pretty=format:"%h%x09%d%x20%s"

# will take all uncomitted and un-staged changes currently in workding dir and add to previous commit
caa = commit -a --amend -C HEAD

[core]
pager = less -F -X
[status]
	submodulesummary = 1
	recurse = true
[submodule]
	recurse = false
