*~
#*#
*#*#
emacs/emacs.d/elpa/
emacs/emacs.d/network-security.data
emacs/emacs.d/tramp
emacs/emacs.d/transient/

framework/ectool/framework-ec

private/

.emacs.d/var/
.emacs.d/bin/
.emacs.d/cutom.el
.emacs.d/tramp
