[core]
    pager = less -F -X

[diff]
    submodule = log

[pull]
    # when true, defaults to: git pull --rebase
    rebase = true

[push]
    default = current

[init]
    defaultBranch = main

[alias]
    n = checkout -b
    b = branch
    p = pull
    ci = commit
    st = status
    pa = push --atomic
    br = rev-parse --abbrev-ref HEAD
    l = log -3

    graph = log --graph --all --pretty=format:"%h%x09%d%x20%s"

    # will take all uncomitted and un-staged changes currently in workding dir and add to previous commit
    caa = commit -a --amend -C HEAD

    fixup = !sh -c 'git commit --fixup HEAD && EDITOR=cat git rebase --autosquash -i HEAD~2 | grep -v "^#"' -
    fu = fixup


[status]
    submodulesummary = 1
    recurse = true

[submodule]
    recurse = false

[credential]
    helper = store


[include]
    path = .gitconfig.local



[color]
	ui = true
