layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane name="editor" command="vim" close_on_exit=true
        pane split_direction="horizontal" {
            pane name="shell" focus=true
            pane name="output"
        }
    }
    pane size=2 borderless=true {
        plugin location="status-bar"
    }
}
